<?xml version="1.0"?>
<config>
    <modules>
        <RMG_ColorSwatch>
            <version>1.0.0</version>
        </RMG_ColorSwatch>
    </modules>
    <!--<frontend>
        <routers>
            <colorswatch>
                <use>standard</use>
                <args>
                    <module>RMG_ColorSwatch</module>
                    <frontName>colorswatch/frontName>
                </args>
            </colorswatch>
        </routers>
        <layout>
            <updates>
                <colorswatch>
                    <file>colorswatch.xml</file>
                </colorswatch>
            </updates>
        </layout>
    </frontend>-->
    <global>
        <!--<models>
            <colorswatch>
                <class>RMG_ColorSwatch_Model</class>
                <resourceModel>colorswatch_mysql4</resourceModel>
            </colorswatch>
            <colorswatch_mysql4>
                <class>RMG_ColorSwatch_Model_Mysql4</class>
                <entities>
                    <colorswatch>
                        <table>colorswatch</table>
                    </colorswatch>
                </entities>
            </colorswatch_mysql4>
        </models>-->
        <resources>
            <colorswatch_setup>
                <setup>
                    <module>RMG_ColorSwatch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </colorswatch_setup>
            <colorswatch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </colorswatch_write>
            <colorswatch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </colorswatch_read>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tabs>RMG_ColorSwatch_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tabs</catalog_product_attribute_edit_tabs>
                </rewrite>
            </adminhtml>
            <colorswatch>
                <class>RMG_ColorSwatch_Block</class>
            </colorswatch>
        </blocks>
        <helpers>
            <colorswatch>
                <class>RMG_ColorSwatch_Helper</class>
            </colorswatch>
        </helpers>
    </global>

</config>